* {
    text-decoration: none;
    margin: 0;
    padding: 0px ;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: auto;
    padding: 0px;
    font-family: 'Montserrat-M';
    position: relative;

}

.wrapper {
    padding-top: 100px;
    width: auto;
    margin: auto;
    position: relative;
    background-image: url(asset/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.logo-trisaga {
    width: 15%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu {
    float:none ;

}

.tabel-penilaian {
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    margin-top: 30px;
}


section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.logo-neapolis {
    width: 30%;
    margin-bottom: 20px;
    margin-top: -20px;
}


h2 {
    font-family: 'Montserrat-M';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    font-family: 'Higuen';
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 665px;
    margin-right: 665px;
    padding: 10px 20px 15px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

a.tbl-biru:hover {
    background: #11409D;
    color: white;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding:  10px 0px 10px 0px;
}

.btn-primary {
    background: #b1cbff;
    border-radius: 0px;
    padding: 4px 69px 1px 69px;
    color: rgb(255, 255, 255);
    cursor:pointer;
    transition: 0.5s;
}

.btn-primary:hover{
    background: #11409D;
    color: #000000;
    text-decoration: none;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 40%;
    margin: 30px;
}

#copyright {
    background-color: #000;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px 0px 50px 0px;
    margin-top: 240px;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    margin: 100px;
    margin-top: -50px;
    margin-bottom: -20px;
}

.creditzndn {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.250);
    margin-bottom: -50px
    
}


@font-face {
    font-family: Higuen;
    src: url(asset/Higuen.otf);
}

@font-face {
    font-family: Montserrat-M;
    src: url(asset/Montserrat-M.ttf);
}

@font-face {
    font-family: Montserrat-B;
    src: url(asset/Montserrat-Bold.ttf);
}


@font-face {
    font-family: Poppins-R;
    src: url(asset/Poppins-R.otf);
}

@font-face {
    font-family: Montserrat-R;
    src: url(asset/Montserrat-Regular.ttf);
}

  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  @media screen and (max-width: 1200px) {
    .logo-trisaga {
        width: 40%
    }

    .logo-neapolis {
        width: 50%;
        margin-bottom: -30px;
    }
    
    .wrapper {
        padding-top: 100px;
        width: auto;
        margin: auto;
        position: relative;
        background-image: url(asset/bg-phone.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: auto;
    }

    .tabel-penilaian {
        display: flex;
        margin: 0 auto;
        width: 75%;
        height: 300px;
        margin-top: 30px;
    }


    a.tbl-biru {
        font-family: 'Higuen';
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ddd;
        border-radius: 20px;
        margin-top: 55px;
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 50px;
        padding: 15px 40px 25px 40px;
        color: #000000;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s;
    }

    h2 {
        font-family: 'Montserrat-M';
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 10px;
        color: #ffffff;
        width: 100%;
        line-height: 50px;
    }
    
    #copyright {
        background-color: #000;
        color: white;
        text-align: center;
        width: 100%;
        padding: 50px 0px 70px 0px;
        margin-top: 0 auto;
        height: 100%;
    }

    .footer-section {
        width: 40%;
        margin-left: -73px;
        font-size: 10px;
    }

    .footer-wrapper {
        display: flex;
        width: 100%;
    }

    .contactfont {
        padding: 0px 0px 0px 0px;
        font-size: 35px;
        font-family: 'Grotesk';
    }
    
    .contactfontdesc {
        padding-right: 50px;
        font-family: 'Poppins-R';
        font-size: 15px;
    }
  }

  @media screen and (max-width: 850px) {
    .logo-trisaga {
        width: 30%
    }

    .logo-neapolis {
        width: 50%;
        margin-bottom: -30px;
    }
    
    .wrapper {
        padding-top: 100px;
        width: auto;
        margin: auto;
        position: relative;
        background-image: url(asset/bg-phone.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .tabel-penilaian {
        display: flex;
        margin: 0 auto;
        width: 75%;
        height: 300px;
        margin-top: 30px;
    }


    a.tbl-biru {
        font-family: 'Higuen';
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ddd;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 120px;
        margin-right: 120px;
        padding: 15px 10px 20px 10px;
        color: #000000;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s;
    }

    h2 {
        font-family: 'Montserrat-M';
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 10px;
        color: #ffffff;
        width: 100%;
        line-height: 50px;
    }
    
    #copyright {
        background-color: #000;
        color: white;
        text-align: center;
        width: 100%;
        padding: 50px 0px 70px 0px;
        margin-top: 0 auto;
        height: 100%;
    }

    .footer-section {
        width: 40%;
        margin-left: -73px;
        font-size: 10px;
    }

    .footer-wrapper {
        display: flex;
        width: 100%;
        margin: 100px;
        margin-top: -50px;
        margin-bottom: -20px;
    }

    .contactfont {
        padding: 0px 0px 0px 0px;
        font-size: 25px;
        font-family: 'Grotesk';
    }
    
    .contactfontdesc {
        padding-right: 50px;
        font-family: 'Poppins-R';
        font-size: 8px;
    }
  }


  @media screen and (max-width: 431px) {

    .wrapper {
        padding-top: 100px;
        width: auto;
        margin: auto;
        position: relative;
        background-image: url(asset/bg-phone.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .vidio-trailer {
        margin-bottom: -10px;
    }

    .logo-neapolis {
        width: 80%;
        margin-bottom: -10px;
    }  

    .tabel-penilaian {
        display: flex;
        margin: 0 auto;
        width: 75%;
        height: 300px;
        margin-top: 30px;
    }

    a.tbl-biru {
        font-family: 'Higuen';
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ddd;
        border-radius: 20px;
        margin-top: -30px;
        margin-left: 60px;
        margin-right: 60px;
        padding: 10px 20px 15px 20px;
        color: #000000;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s;
    }

    h2 {
        font-family: 'Montserrat-M';
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 10px;
        color: #ffffff;
        width: 100%;
        line-height: 50px;
    }
    
    #copyright {
        background-color: #000;
        color: white;
        text-align: center;
        width: 100%;
        padding: 35px 0px 70px 0px;
        margin-top: 0 auto;
        height: 100%;
    }

    .footer-section {
        width: 40%;
        margin-left: -73px;
        font-size: 10px;
    }

    .footer-wrapper {
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-top: 0 auto;
        margin-bottom: 0 auto;
    }

    .contactfont {
        padding: 0px 0px 0px 0px;
        font-size: 25px;
        font-family: 'Grotesk';
    }
    
    .contactfontdesc {
        padding-right: 50px;
        font-family: 'Poppins-R';
        font-size: 8px;
    }
  }

  @media  screen and (max-width: 420px){
    .wrapper {
        padding-top: 100px;
        width: auto;
        margin: auto;
        position: relative;
        background-image: url(asset/bg-phone.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .vidio-trailer {
        margin-bottom: -40px;
    }

    .logo-neapolis {
        width: 80%;
        margin-bottom: -10px;
    }  

    .tabel-penilaian {
        display: flex;
        margin: 0 auto;
        width: 75%;
        height: 300px;
        margin-top: 30px;
    }

    a.tbl-biru {
        font-family: 'Higuen';
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ddd;
        border-radius: 20px;
        margin-top: -30px;
        margin-left: 60px;
        margin-right: 60px;
        padding: 10px 20px 15px 20px;
        color: #000000;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s;
    }

    h2 {
        font-family: 'Montserrat-M';
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 10px;
        color: #ffffff;
        width: 100%;
        line-height: 50px;
    }
    
    #copyright {
        background-color: #000;
        color: white;
        text-align: center;
        width: 100%;
        padding: 35px 0px 70px 0px;
        margin-top: 0 auto;
        height: 100%;
    }

    .footer-section {
        width: 40%;
        margin-left: -73px;
        font-size: 10px;
    }

    .footer-wrapper {
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-top: 0 auto;
        margin-bottom: 0 auto;
    }

    .contactfont {
        padding: 0px 0px 0px 0px;
        font-size: 25px;
        font-family: 'Grotesk';
    }
    
    .contactfontdesc {
        padding-right: 50px;
        font-family: 'Poppins-R';
        font-size: 8px;
    }
  
  }

  
  @media  screen and (max-width: 375px){
    
    a.tbl-biru {
        font-family: 'Higuen';
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ddd;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px 5px 15px 5px;
        color: #000000;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s;
    }

  }